# macOS
.DS_Store
.AppleDouble
.LSOverride

# VSCode
.vscode/


# KiCad autosave / locks
*~
*.lck
\#auto_saved_files#/
*-backups/
*.kicad_prl

# python
__pycache__/

# PlatformIO build output
.pio/

# ignore build files for daisyseed
gen2/daisyseed_firmware/build

# ignore debug tmp files
tmp/

# ignore superpowers
docs/superpowers